.container {
    display: flex;
    flex-wrap: wrap;
    margin: 0% 50%;
    align-items: center;
    justify-content: center;
    border-style: dotted;
    border-color: blue;
    border-width: 1px;
}

.square {
    width: 28px;
    height: 28px;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(255, 255, 255);
    background-color: white;
}