.lower {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;

}

.controls {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;

}

.frame {
    padding: 10px;
    margin: 10px;
    border-style: solid;
    background-color: aqua;
}

.container {
    display: flex;
    flex-wrap: wrap;
    padding: 0px;
    margin: 0% 0%;
    align-items: flex-start;
    justify-content: flex-start;
    border-style: none;
    background-color: white;
    width: 400px;
    height: 400px;
}

.square {
    border-style: none;
}